.todoAddForm {
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: flex-start;
}

.toggleAll {
  display: block;
  font-size: 25px;
  margin-right: 25px;
  transform: rotate(90deg);
}

.toggleAll::before {
  color: #e6e6e6;
  content: '>';
  cursor: pointer;
}

.enabledAll::before {
  color: #737373;
}

.todoAddInput {
  display: block;
  padding: 16px 16px 16px 16px;
  font-size: 24px;
  width: 90%;
  border: none;
  outline-width: 0;
}

.todoAddInput::placeholder {
  color: #e6e6e8;
}
